/* Write your code here. */
.list_item {
  list-style-type: none;
}
.emoji-button {
  height: 70px;
  width: 70px;
  background-color: #dac6f1;
  text-align: center;
  padding: 15px;
  border: 3px solid #ffffff30;
  margin: 7px;
  border-radius: 10px;
}
.emoji-img {
  height: 40px;
  width: 40px;
}
@media (min-width: 768px) {
  .emoji-button {
    height: 200px;
    width: 200px;
  }
  .emoji-img {
    height: 100px;
    width: 100px;
  }
}
