/* Write your code here. */
.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff30;
  background-color: #dac6f1;
  padding: 20px;
  border-radius: 20px;
}
.result-img {
  height: 100px;
  width: 100px;
  order: 0;
}
.result-details-container {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
}
.result-mag {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 13px;
}
.score-msg {
  font-size: 10px;
  font-weight: 600;
  margin-bottom: 0px;
}
.score-format {
  color: #6a59ff;
  font-size: 15px;
  font-weight: 800;
  margin-bottom: 15px;
  margin-top: 0px;
}
.playAgain-button {
  height: 40px;
  width: 120px;
  text-align: center;
  background-color: #ffce27;
  color: black;
  font-size: 12px;
  font-weight: 700;
  border-radius: 10px;
  border: none;
}

@media (min-width: 768px) {
  .result-container {
    flex-direction: row;
    justify-content: flex-start;
  }
  .result-img {
    height: 400px;
    width: 400px;
    order: 1;
  }
  .result-details-container {
    order: 0;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  .result-mag {
    font-size: 30px;
    margin-bottom: 18px;
  }
  .score-msg {
    font-size: 20px;
  }
  .score-format {
    font-size: 25px;
  }
  .playAgain-button {
    font-size: 17px;
  }
}
